   body {
        font-family: Arial;
        background: video;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        text-align: center;
        background: #FFFFFF;
        padding: 20px;
        border-radius: 10px;
        width: 450px;
        height: 70%;
        ox-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    h2 {
        text-align: center;
        font-size: 30px;
    }
    font{
        color: #9800FF;
        font-size: 60px;
    }
    input {
        width: 85%;
        padding: 10px;
        margin: 8px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button {
        width: 90%;
        padding: 10px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
       
    }

    button:hover {
        background: #0056b3;
    }

    .profile {
        display: none;
        text-align: center;
    }

    .success {
        color: green;
        font-weight: bold;
    }

    .error {
        color: red;
    }
     img{
        width: 130px;
        height: 130px;
        border-radius: 100%;
    }
    u{
        color: #000;
    }
    li{
        text-align: left;
    }
    .hidden {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background: #e9ecef;
  border-radius: 5px;
}

.payment {
  background: linear-gradient(90deg, #1e3a8a, #15f5ff);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.course {
  background: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
body {
      font-family: Arial, sans-serif;
      margin: 0;
      background: #f4f4f4;
    }
  header {
     background: linear-gradient(90deg, #1e3a8a, #15f5ff);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: 30%;
}
nav {
    background:black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}
.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 30px;
}

.hero p{
    color: gray;
}
.hero{
    background: linear-gradient(90deg, #4740ff, #80d6ff, #ffffff);
}
video {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      z-index: -1;
 }
 /* PRODUCTS */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background: white;
    width: 390px;
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
}
.card p{
    color: white;
    font-weight: bold;
    
}
.card-content {
    padding: 15px;
    text-align: left;
    background: linear-gradient(90deg, #4740ff,#15f5ff);
}

.price {
    color: #0d6efd;
    font-size: 18px;
    font-weight: bold;
    
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 25px;
    background: #b9ff00;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    button-align: center;
}
footer {
    background: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    width: 360px;
}
strong{
    color: yellow;
}

p{
    color: white;
}
